@charset "utf-8";

// Variables

// @import "_variables";

// Base

// @import "base/_normalize";
// @import "base/_typography";
// @import "base/_animations";
// @import "base/_images";
// @import "base/_layout";
// @import "base/_lists";

// Components

// @import "components/_buttons";
// @import "components/_navigation";
// @import "components/_header";
// @import "components/_main";
// @import "components/_section";
// @import "components/_footer";

body {
	margin: 0px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.world {
	width: 100%;
	height: 100%;
	overflow: hidden;
	// background: linear-gradient(#e4e0ba, #f7d9aa);
	// background: #cdf9ff;
	background: #222;
}
